<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <title>TODO</title>
</head>
<body>
    <h1 class="#">Welcome to TODO</h1>
    <form class = "#" action="/add" method="post">
        <div>
            <label for="title">TODO</label>
            <input type="text" name="title" placeholder="Enter your work">
            <br>
            <button type="submit">ADD</button>
        </div>
    </form>
    {% for todo in todo_list %}
    <div class="#">
        <p class="#">{{todo.id}} | {{todo.title}} </p>
        
        {% if todo.complete == False %}
            <span class="#">Not Complete</span>
        {% else %}
            <span class ="#">Completed</span>
        {% endif %}

        <a class="#" href="/update/{{todo.id}} ">Update</a>
        <a class="#" href="/delete/{{todo.id}}">Delete</a>
    </div>
    {% endfor %}
</body>
</html>